@import url('https://fonts.googleapis.com/css?family=Roboto');


#nav_bar {
	background:  #333333;
}
.titre{
	 margin-left: auto;
    margin-right: auto;
    color: white;
}

#monlogo {
	display: block;
	 margin-left: auto;
    margin-right: auto;
    color: white;
}

#logo1 {
margin: 5px;
}

#logosimplon {
	margin: 6px;
}


 
.footer {
    bottom: auto;
    width: 100%;
    height: 60px;
    background: #333333;
}
#lien_footer{

	 display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   margin-top: 1vh;

}	

@media (max-width: 1200px) {
    #menu1 {
        width: 100%;
    }
}

#menu1 {
    width: 30%;
   text-align: center;
   border: solid 2px #333;
   border-radius: 10px;
}
@media (max-width: 1200px) {
    #menu1 {
        width: 100%;
    }
}


#photocv {
    border: 2px solid #CECECE;
    border-radius: 10px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif; color: white; 
    font-size: 30px;
    margin: 0;
    border: 2px solid #CECECE; background: #333333;
    border-radius: 10px;

}

 
#menu2 {
    
    text-align: center;
    width: 70%;
   text-align: center;
   border: solid 2px #333;
   border-radius: 10px;
}

@media (max-width: 1200px) {
    #menu2 {
        width: 100%;
    }
}

#container1-fluid {
    display: flex;
    width: 90%;
    margin: auto;
}
@media (max-width: 1200px) {
    #container1-fluid {
        display: block;
    }
}
 

body {
color:#333333;
background-color:#333333; 
background-image:url(images/spectacular-gray-suede.jpg);
}


#headingOne{
	background-color:#999999;
}



#headingTwo{
	background-color:#999999;
}
#headingThree{
	background-color:#999999;
}
#headingFour{
	background-color:#999999;
}
#headingFive{
	background-color:#999999;
}